@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>New Years Party</title>
</head>
<body>
        <div>
            @ViewBag.Greeting, World from my first view C:
            <p>I would like to invite You to a great party!
                <br>
                (Things to do: improve this site, add photos and other stuff)
            </p>
            @Html.ActionLink("Send RSVP", "RsvpForm")
        </div>
</body>
</html>

