@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
</head>
<body>
        <div>
            Hello beautiful World from my first view C:
        </div>
</body>
</html>

